.root{
    -fx-border-color:transparent;
    -fx-text-base-color: rgb(252.0, 240.0, 237.0);
    -fx-text-fill: -fx-text-base-color;

     fx-background-color: transparent;
    -dark: rgb(47.0, 52.0, 57.0);
    -flatter-red: rgb(237.0, 68.0, 37.0);
    -flatter-blue: rgb(0.0, 184.0, 222.0);
}

.username{
    -fx-text-fill: derive(black, 90%);
    -fx-padding:10px;
    -fx-font-size:18px;
    -fx-font-weight:bold;

}
.fromLabel{
    	-fx-position:relative;
    	-fx-padding:10px 20px;
    	-fx-color:white;
    	-fx-background-color:#DBF2FA;

    	-fx-border-radius:10px;
    	-fx-float: right;
    	-fx-background-radius:10px;
    	-fx-text-fill:derive(black,10%);

    	-fx-font-size:12px;
    	-fx-font-family:'Segoe UI',Tahoma,Helvetica,Sans-Serif;
}
.toLabel{
    	-fx-position:relative;
    	-fx-padding:10px 20px;
    	-fx-color:white;
    	-fx-background-color:#BFE9F9;

    	-fx-border-radius:10px;
    	-fx-float: right;
    	-fx-background-radius:10px;
    	-fx-text-fill: derive(black,10%);

    	-fx-font-size:12px;
    	-fx-font-family:'Segoe UI',Tahoma,Helvetica,Sans-Serif;
}



.mnemonic-underline {
    -fx-stroke: transparent;
}

.text {
    -fx-font-smoothing-type: lcd;
}


/**/
 .button{
        -flatter-red: rgb(237.0, 68.0, 37.0);
        -fx-background-color: #00aff0;
        -fx-background-insets:  0.0;
        -fx-background-radius: 1.0;
        -fx-border-width: 0.0;
        -fx-padding: 0.7em;
        -fx-text-fill: -fx-text-base-color;
        -fx-alignment: CENTER;
        -fx-content-display: LEFT;
        -fx-focus-color: transparent;

  }


/*context menu*/

.context-menu {
    -fx-background-color: rgb(255.0, 255.0, 255.0, 0.95);
    -fx-background-radius: 2.0;
}

.context-menu .label {
    -fx-text-fill: derive(black, 15%);
}



.menu-item:focused {
    -fx-background-color: rgb(94.0, 203.0, 234.0);
}



/*textara*/

.text-area {
    -fx-background-color: transparent;
    -fx-text-color:#000;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-padding: 0; /*.7em;*/
    -fx-border-width: 0.0;
    -fx-prompt-text-fill: derive(-dark, 50.0%);
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
    -fx-padding: 0.15em;
    -fx-focus-color: transparent;
    -fx-effect:none;
}

/*end */


/*
scrollbar
*/

.scroll-pane{
    -fx-line-height: 12px;
    -fx-background-color:transparent;
    -fx-box-shadow: none;
    -fx-padding:0px 0px 0px 0px;
    -fx-focus-color: transparent;
    -fx-border-color:white;
}


 .scroll-bar:vertical {
    -fx-background-color:transparent;

}


 .increment-button , .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(gray,80%);
}



 .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,100%);/*-flatter-blue;/**/
    -fx-background-color: derive(black,100%);/*-flatter-blue;/**/
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}





/*.list-view .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:1em;
}*/




.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,80%);
	-fx-padding:1.5;
	-fx-border-color:white;
	-fx-border-width:0px;

}
/*
 .scroll-bar:horizontal {
    -fx-background-color:transparent;

}



 .scroll-bar:horizontal .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(gray,80%);
	 -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: derive(black,100%);/*-flatter-blue;
    	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;

}


*/


/*

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track,
.scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);

	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;

}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.increment-button:hover , .decrement-button:hover {
    -fx-background-color:derive(gray,100%);
	-fx-border-color:derive(gray,80%);
	-fx-padding:10px;
}
*/

.list-view{
    -fx-background-color:white;
    -fx-border-color:white;
    -fx-focus-color: white;
    -fx-border-width:0 0 0 0 ;
    -fx-padding:0;
    -fx-border-insets:0 0 0 ;


}

.task-bar{
 -fx-background-color:#00aff0;
}
.list-cell{
    -fx-background-color:white;
    -fx-border-color:white;
    -fx-border-width:0 0 0 0;


}


.list-cell:filled:selected {
    -fx-background-color: #EEE9E9 ;//========#D6D6D6
    -fx-text-fill: white;

    -fx-font-size:12px;
    -fx-font-weight:bold;

}

.list-view .scroll-bar:horizontal  .increment-arrow,
.list-view .scroll-bar:horizontal  .decrement-arrow,
.list-view .scroll-bar:horizontal  .increment-button,
.list-view .scroll-bar:horizontal  .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical  .increment-arrow,
.list-view .scroll-bar:vertical  .decrement-arrow,
.list-view .scroll-bar:vertical  .increment-button,
.list-view .scroll-bar:vertical  .decrement-button {
    -fx-padding:0;

}

/*

.list-cell:even {
    -fx-background-color: white;
}
.list-cell:odd {
    -fx-background-color: white;
}
*/
.list-cell:filled:hover {
    -fx-background-color: #BFE9F9; //=======#A1A1A1=============================
    -fx-text-fill: white;


}

 .list-cell:filled:selected:hover{
     -fx-background-color: #BFE9F9; // ===========================================
     -fx-text-fill: white;

 }

 .closeButton{
     -fx-background-color: #00AFF0;
 }



 .closeButton:hover{
        -fx-opacity: 0.5;
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,100) , 10,0,0,1 );
 }

 .downArrow:hover{
        -fx-opacity: 0.5;
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,100) , 10,0,0,1 );
 }

 .closeButton:hover:pressed{
     -fx-background-color: black;
     -fx-effect: dropshadow( gaussian , rgba(0,0,0,100) , 10,0,0,1 );
 }


 .minimizeButton{
     -fx-background-color: #00AFF0;
 }

 .minimizeButton:hover{
    -fx-opacity: 0.5;
    -fx-effect: dropshadow( gaussian , rgba(100,100,100,100) , 10,0,0,1 );
 }

 .minimizeButton:hover:pressed{
    -fx-border-color: black;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 10,0,0,1 );
 }

 .sendButton{
     -fx-opacity: 0.8;
 }

 .sendButton:hover{
    /*-fx-opacity: 0.5;*/
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,25) , 10,0,0,1 );
 }

 .sendButton:pressed{
     -fx-text-fill: gray;
 }

/*
For the "Train the Bot" check box
*/
.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #2a3137;
    -fx-border-width: 1.5px;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 2, 2, 1, 1;
    -fx-padding: 1px; /* 3 -- padding from the outside edge to the mark */
}

.check-box:selected .mark{
    -fx-background-color: #2a3137;
}
