.text-area {
    -fx-background-color: transparent;
    -fx-text-color:#000
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-padding: 0.7em;
    -fx-border-width: 0.0;
    -fx-prompt-text-fill: derive(-dark, 50.0%);
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
    -fx-padding: 0.15em;
    -fx-focus-color: transparent;
    -fx-effect:none;
}
.text-field:focused{
     -fx-focus-color: transparent;
}